{% extends 'master' %}

{% block content %}
<div class="container">
  <div class="row">
   <div class="col-lg-9 main-chart">

    <div class="row mtbox">
      <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
        <div class="box1">
          <span class="li_heart"></span>
          <h3>933</h3>
        </div>
        <p>933 People liked your page the last 24hs. Whoohoo!</p>
      </div>
      <div class="col-md-2 col-sm-2 box0">
        <div class="box1">
          <span class="li_cloud"></span>
          <h3>+48</h3>
        </div>
        <p>48 New files were added in your cloud storage.</p>
      </div>
      <div class="col-md-2 col-sm-2 box0">
        <div class="box1">
          <span class="li_stack"></span>
          <h3>23</h3>
        </div>
        <p>You have 23 unread messages in your inbox.</p>
      </div>
      <div class="col-md-2 col-sm-2 box0">
        <div class="box1">
          <span class="li_news"></span>
          <h3>+10</h3>
        </div>
        <p>More than 10 news were added in your reader.</p>
      </div>
      <div class="col-md-2 col-sm-2 box0">
        <div class="box1">
          <span class="li_data"></span>
          <h3>OK!</h3>
        </div>
        <p>Your server is working perfectly. Relax & enjoy.</p>
      </div>

    </div><!-- /row mt -->  


    <div class="row">
      <!-- TWITTER PANEL -->
      <div class="col-md-4 mb">
        <div class="darkblue-panel pn">
          <div class="darkblue-header">
            <h5>DROPBOX STATICS</h5>
          </div>
          <canvas id="serverstatus02" height="120" width="120"></canvas>
          <script>
            var doughnutData = [
            {
              value: 60,
              color:"#68dff0"
            },
            {
              value : 40,
              color : "#444c57"
            }
            ];
            var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
          </script>
          <p>April 17, 2014</p>
          <footer>
            <div class="pull-left">
              <h5><i class="fa fa-hdd-o"></i> 17 GB</h5>
            </div>
            <div class="pull-right">
              <h5>60% Used</h5>
            </div>
          </footer>
        </div><! -- /darkblue panel -->
      </div><!-- /col-md-4 -->
      
      
      <div class="col-md-4 mb">
        <!-- INSTAGRAM PANEL -->
          <div class="darkblue-panel pn">
          <div class="darkblue-header">
            <h5>REVENUE</h5>
          </div>
          <div class="chart mt">
            <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,464,655]"></div>
          </div>
          <p class="mt"><b>$ 17,980</b><br/>Month Income</p>
        </div>
      </div><!-- /col-md-4 -->
      
      <div class="col-md-4 col-sm-4 mb">
        <!-- REVENUE PANEL -->
        <div class="darkblue-panel pn">
          <div class="darkblue-header">
            <h5>REVENUE</h5>
          </div>
          <div class="chart mt">
            <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,464,655]"></div>
          </div>
          <p class="mt"><b>$ 17,980</b><br/>Month Income</p>
        </div>
      </div><!-- /col-md-4 -->
      
    </div><!-- /row -->
    

  </div>
</div>
</div>

{% endblock %}
